$vermelho: #9a3235;
.ui-widget-overlay {
    background: #000;
    opacity: .7;
}

.ui-dialog {
    padding: 0;
    @include border-radius(0);
    &.ui-widget.ui-widget-content {
        border: 0 none;
    }
    .ui-widget-header {
        background: $vermelho;
        @include border-radius(0);
        border: 0 none;
        height: 53px;
        padding: 0;
    }
    .ui-dialog-title {
        @include font-px( $regular, 18, #fff);
        padding: 15px 0 0 20px;
    }
    .ui-dialog-titlebar-close {
        height: 44px;
        width: 41px;
        background: #b87072;
        border: 0 none;
        margin: 0;
        top: 4px;
        right: 5px;
        @include border-radius(0);
        @include font-px( $regular, 32, #fff);
        text-indent: inherit;
    }
    .ui-dialog-buttonpane button {
        font-size: 12px;
    }
    .dialog-contato {
        padding: 30px 14%;
        p {
            @include font-px( $regular, 15, #333);
            text-align: center;
        }
        .validacao {
            height: 60px;
            padding: 10px 0 0;
            p {
                display: none;
                padding: 5px;
            }
        }
        label {
            @include font-px( $regular, 15, #333);
            padding: 0 5px;
            display: block;
        }
        .row {
            width: 100%;
            clear: both;
        }
        .campo {
            width: 100%;
            height: 38px;
            @include border-radius(5px);
            border: 1px solid #ccc;
            margin: 5px 0 15px;
            padding: 0 10px;
            @include font-px( $regular, 16, #333);
            &.mensagem {
                padding: 15px;
                min-height: 100px;
            }
        }
        .tagsinput {
            @include border-radius(5px);
            border: 1px solid #ccc;
            margin: 5px 0 15px;
            float: left;
            height: auto !important;
        }
        .btn-add-tel {
            float: right;
            width: 38px;
            height: 38px;
            cursor: pointer;
        }
        .btn-enviar {
            background: $vermelho;
            width: 250px;
            max-width: 100%;
            height: 60px;
            text-align: center;
            @include font-px( $regular, 18, #fff);
            @include border-radius(30px);
            margin: 0 auto;
            display: block;
            cursor: pointer;
        }
    }
}